@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* Adjust the height of the navbar */
    background-color: #70a5fa;
    opacity: 0.8; /* Change the background color of the navbar */
  }
  
  .logo img {
    width: auto;
    height: 50px;
  }
  
.chatbot-container {
    background-color: rgba(247, 249, 250, 0.6);
    width: 40%;
    height: 80vh; /* 80% of the viewport height */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 24px;
    margin: 0 auto; /* Center the container horizontally */
    overflow-y: auto; /* Enable vertical scrolling */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #307fe2;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3791ff;
  }